In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from babel.numbers import format_currency
sns.set(style='dark')

In [5]:
all_df = pd.read_csv('all_data.csv')
all_df.head()

,Unnamed: 0,No,Umur,Alasan pemeriksaan,Kriteria Terduga,Tgl Permohonan Lab,Hasil Pemeriksaan TCM,Tgl Pengambilan Contoh Uji,Tgl Contoh Uji Dikirim,Tgl Contoh Uji diterima Lab,Tgl Hasil dilaporkan,TAT Hasil Pemeriksaan,Fasyankes Pengirim,duration_time,tanggal,Bulan,Tahun,kelompok_usia,range_waktu
0,0,1,27,Diagnosis TB SO,Terduga TBC SO,2023-05-23,Rif Sen,2023-05-23,2023-05-23,2023-05-25,2023-05-25,0,Klinik Anata Kasih,2.0,2023-05-23,5,2023,Dewasa,Diatas 1 hari
1,1,2,18,Diagnosis TB SO,Terduga TBC SO,2023-09-29,Neg,2023-09-29,2023-09-29,2023-10-02,2023-10-02,0,Klinik Citra Medika,3.0,2023-09-29,9,2023,Dewasa,Diatas 1 hari
2,2,3,84,Diagnosis TB SO,Terduga TBC SO,2023-09-14,Neg,2023-09-14,2023-09-14,2023-09-15,2023-09-15,0,Klinik Diabetes Dharma,1.0,2023-09-14,9,2023,Lanjut Usia,Diatas 1 hari
3,3,4,56,Diagnosis TB SO,Terduga TBC SO,2023-09-07,Neg,2023-09-07,2023-09-07,2023-09-13,2023-09-13,0,Klinik Diabetes Dharma,6.0,2023-09-07,9,2023,Dewasa,Diatas 3 hari
4,4,5,27,Diagnosis TB SO,Terduga TBC SO,2023-06-26,Neg,2023-07-06,2023-07-06,2023-06-29,2023-07-03,4,Klinik Diabetes Dharma,7.0,2023-06-26,6,2023,Dewasa,Diatas 3 hari

In [7]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   4773 non-null   int64
 1   No                           4773 non-null   int64
 2   Umur                         4773 non-null   int64
 3   Alasan pemeriksaan           4773 non-null   object
 4   Kriteria Terduga             4773 non-null   object
 5   Tgl Permohonan Lab           4773 non-null   object
 6   Hasil Pemeriksaan TCM        4773 non-null   object
 7   Tgl Pengambilan Contoh Uji   4773 non-null   object
 8   Tgl Contoh Uji Dikirim       4773 non-null   object
 9   Tgl Contoh Uji diterima Lab  4773 non-null   object
 10  Tgl Hasil dilaporkan         4773 non-null   object
 11  TAT Hasil Pemeriksaan        4773 non-null   int64
 12  Fasyankes Pengirim           4773 non-null   object
 13  duration_time                4773 non-null   float64
 14  tanggal                      4773 non-null   object
 15  Bulan                        4773 non-null   int64
 16  Tahun                        4773 non-null   int64
 17  kelompok_usia                4773 non-null   object
 18  range_waktu                  4773 non-null   object
dtypes: float64(1), int64(6), object(12)
memory usage: 708.6+ KB

Mengubah kolom Tgl Permohonan Lab, Tgl Hasil dilaporkan menjadi datetime

In [8]:
datetime_columns = ["Tgl Permohonan Lab", "Tgl Hasil dilaporkan", "tanggal"]
 
for column in datetime_columns:
  all_df[column] = pd.to_datetime(all_df[column])

In [9]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   4773 non-null   int64
 1   No                           4773 non-null   int64
 2   Umur                         4773 non-null   int64
 3   Alasan pemeriksaan           4773 non-null   object
 4   Kriteria Terduga             4773 non-null   object
 5   Tgl Permohonan Lab           4773 non-null   datetime64[ns]
 6   Hasil Pemeriksaan TCM        4773 non-null   object
 7   Tgl Pengambilan Contoh Uji   4773 non-null   object
 8   Tgl Contoh Uji Dikirim       4773 non-null   object
 9   Tgl Contoh Uji diterima Lab  4773 non-null   object
 10  Tgl Hasil dilaporkan         4773 non-null   datetime64[ns]
 11  TAT Hasil Pemeriksaan        4773 non-null   int64
 12  Fasyankes Pengirim           4773 non-null   object
 13  duration_time                4773 non-null   float64
 14  tanggal                      4773 non-null   datetime64[ns]
 15  Bulan                        4773 non-null   int64
 16  Tahun                        4773 non-null   int64
 17  kelompok_usia                4773 non-null   object
 18  range_waktu                  4773 non-null   object
dtypes: datetime64[ns](3), float64(1), int64(6), object(9)
memory usage: 708.6+ KB

In [10]:
min_date = all_df["Tgl Permohonan Lab"].min()
max_date = all_df["Tgl Permohonan Lab"].max()

with st.sidebar:
    # Menambahkan logo perusahaan
    st.image("https://github.com/dicodingacademy/assets/raw/main/logo.png")
    
    # Mengambil start_date & end_date dari date_input
    start_date, end_date = st.date_input(
        label='Rentang Waktu',min_value=min_date,
        max_value=max_date,
        value=[min_date, max_date]
    )